*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 400px;   
  padding: 20px;
}

input{
  margin-bottom: 5px;
  height: 35px;
  width: 100%;   
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}

label{
  font-weight: bold;
  font-size: 15px;
}

button{
  width: 100%;
  max-width: 150px;  
  height: 40px;
  border-radius: 10px;
  background-color: rgb(92, 232, 248);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

p{
  color: red;
  font-size: 13px;
  margin-bottom: 5px;
}

@media (max-width: 600px){
  form {
    padding: 15px;
  }

  input {
    height: 40px;
    font-size: 15px;
  }

  button {
    height: 42px;
    font-size: 15px;
  }
}

@media (max-width: 900px){
  form {
    max-width: 450px;
  }
}

@media (min-width: 1200px){
  form {
    max-width: 450px;
  }
}
