*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  margin-bottom: 5px;
  height: 32px;
  width: 300px;
  /* padding: 3px; */
  border-radius: 5px;
}
label{
   font-weight: bold;
}
button{
  width: 80px;
  height: 33px;
  border-radius: 10px;
  background-color: rgb(92, 232, 248);
}
.btn{
  display: flex;
  justify-content: center;
}
p{
  color: red;
}